<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>O que fazer na França: 5 pontos turísticos para conhecer no país</title>

    <link rel="stylesheet" href="../static/CSS/destinos.css">

</head>
<body>

    <div class="banner">
        <img  class="bandeira" src="../static/Imagens/Bandeira-França.png" alt="Bandeira da França">
        <div class="overlay"></div>
        <h1 class="country-name">França</h1>
    </div>

    <div>
        <h1>O que fazer na França: 5 pontos turísticos para conhecer no país</h1>

        <p>Conhecer os principais pontos turísticos da França é mais do que uma viagem de férias ou de descanso! Sua <strong>riqueza cultural</strong> enriquece o conhecimento de quem a conhece.
        São lugares tradicionais repletos de <strong>marcos históricos</strong> que nos fazem viajar no tempo e recordar de fatos que tínhamos visto apenas em livros de História e agora serão revividos nesses lugares da França.
        Sem contar as belezas que há na França. A <strong>arquitetura</strong> de seus monumentos, o zelo com as áreas públicas e todo o fascínio do país resumem as razões que a tornam um dos principais destinos de viagem. 
        </p>

        <h1>Quando ir à França?</h1>

        <p>De novembro a março é <strong>inverno</strong> na França, o que caracteriza a <strong>baixa temporada</strong>. Se você quer curtir dias frios e viver o clima francês de inverno, este é o período ideal para sua viagem.
        Nessa época, os preços estão mais baixos também e as cidades recebem menos turistas, o que aumenta a oferta de hotéis. Mas se o frio não é sua estação do ano preferida, esqueça e vá na alta temporada.    
        No <strong>verão</strong>, a França é um dos principais destinos dos turistas que querem <strong>passear pelos parques</strong>, visitar os pontos turísticos e curtir ao máximo o clima de calor desta época na Europa.
        Com as cidades mais cheias, os passeios também ficam mais animados e há quem goste tanto da alta temporada na França que não a troca por nenhuma outra estação do ano!</p>
        
        <h1>Turismo na França: clima, moeda e documentos obrigatórios</h1>

        <p>Na França, o clima vai depender da região onde você irá ficar. Mas podemos dizer que o país tem um clima bem agradável, que não chega a ser tão quente e nem tão frio.
        Os invernos costumam ser mais chuvosos em algumas regiões, como a Oeste, por exemplo. Na região Leste, chega a ter nevascas. Mas o verão é bem quente e você terá muito o que fazer na França!
        O ideal é você saber em qual a região da França você irá ficar, preparar sua mala e aproveitar essa viagem incrível cercada de cultura, beleza e diversão.
        Mas e que moeda levará à França? Essa dúvida também ronda sua cabeça? Então, vamos dar a resposta:  /<strong>euros ou dólares</strong>. Tenha sempre uma quantia em dinheiro vivo para pagar táxis, por exemplo.
        Não vá sem levar uma quantia de <strong>dinheiro em espécie</strong> com você. É bom ter um pouco de euros ou dólares para pagar pequenos consumos em comércios pequenos ou, até mesmo, para ser liberado pela imigração.
        O <strong>passaporte</strong> ter que estar válido – no mínimo, seis meses – e o governo francês não exige nenhuma vacina para os turistas estrangeiros entrarem no país.</p>
       
        <ol>
            <h1><li>Torre Eiffel</li></h1>
            <p>França e Torre Eiffel: combinação perfeita de turismo. Do alto de seus 325 metros de altura você terá uma das vistas mais deslumbrantes de Paris e de todas as suas luzes!
            Ao longo de toda Torre Eiffel, os restaurantes chamam a atenção dos turistas e escolher um deles para jantar é um dos sonhos de viagem! Além de romântico, é também um dos mais prazerosos passeios turísticos.
            </p>
            
            <figure>
                <img src="../static/Imagens/Torre Eiffel-imagem.png" alt="Imagem de Torre Eiffel">
            </figure>

            <h1><li>Château de Chenonceau</li></h1>
            <p>Ele fica no vale do Loire e é um dos castelos mais espetaculares dessa região e um dos lugares históricos da França.
            Dentro do Château de Chenonceau há muitas mobílias originais e você pode entrar nos aposentos que um dia foram dos reis e rainhas dos séculos passados que moraram lá. 
            </p>

            <figure>
                <img src="../static/Imagens/Château de Chenonceau-imagem.png" alt="Imagem de Château de Chenonceau">
            </figure>

            <h1><li>Arco do Triunfo</li></h1>
            <p>Majestoso! Essa é a principal característica do Arco do Triunfo, que tem um significado histórico muito importante para a França. 
            Não deixe de subir até o terraço panorâmico e apreciar uma das mais belas vistas da cidade.
            </p>

            <figure>
                <img src="../static/Imagens/Arco do Triunfo-imagem.png" alt="Imagem de Arco do Triunfo">
            </figure>

            <h1><li>Vale do Loire</li></h1>
            <p>Um pedaço da França que remete à vida da realeza. O Vale do Loire tem várias construções medievais e castelos deslumbrantes! 
            E sabe o que é mais interessante? Em alguns castelos você pode se hospedar e dormir neles!
            Quem gosta de história coloca o Vale do Loire como um destino obrigatório na viagem para a França. E os casais apaixonados, além de famílias, amam passear por este Vale que tem um cenário espetacular!
            </p>

            <figure>
                <img src="../static/Imagens/Vale do Loire-imagem.png" alt="Imagem de Vale de Loire">
            </figure>

            <h1><li>Região Champagne</li></h1>
            <p>A bebida símbolo da França tem seus segredos de produção revelados durante a visita na região Champagne.
            Você irá se apaixonar pelas paisagens das estradas, pelas histórias contadas pelos produtores e, claro, pelos sabores das mais variadas e deliciosas champagnes. 
            </p>

            <figure>
                <img src="../static/Imagens/Região Champagne-imagem.png" alt="Imagem de Região Champagne">
            </figure>

        </ol>
        
        <a id="voltar-inicial" href="/galeria_viagens">Voltar para a Página Inicial</a>

    </div>
</body>
</html>