<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Viagem Espanha: quando ir, documentação e destinos turísticos</title>

    <link rel="stylesheet" href="../static/CSS/destinos.css">

</head>
<body>

    <div class="banner">
        <img  class="bandeira" src="../static/Imagens/Bandeira-Espanha.png" alt="Bandeira da Espanha">
        <div class="overlay"></div>
        <h1 class="country-name">Espanha</h1>
    </div>

    <div>
        <h1>Viagem Espanha: quando ir, documentação e destinos turísticos</h1>
        <p>Se está planejando fazer uma viagem Espanha, prepare o coração, pois este destino é magnífico, multicultural e vai te surpreender. 
         Com regiões independentes, <strong>quatro idiomas oficiais</strong> e mais de 40 lugares considerados Patrimônio Histórico da Humanidade, certamente o país ofereceria experiências ricas e inesquecíveis aos seus turistas.
        Para te deixar ainda mais animado, preparamos um artigo com tudo que você precisa saber para conhecer um dos países mais interessantes da Europa.
        </p>

        <h1>Viagem Espanha: história e cultura</h1>
        <p>Para definir lugares para conhecer na Espanha, tenha certeza que você ficará bem perdido. Isso porque, o país espanhol conta com histórias e culturas riquíssimas. 
        Em todo o país, as cidades são repletas de igrejas, <strong>edifícios datados da Idade Média</strong>, além de parques e muitos museus. 
        Para você entender um pouco da Espanha, é importante saber que ela <strong>integrou o Império Romano</strong> por muito tempo e, por causa disso, possui influências culturais de outros povos, como os romanos. 
        Nesse sentido, com a chegada e invasão de civilizações distintas, ela também foi influenciada pelos <strong>costumes dos celtas, ibéricos, muçulmanos</strong>, entre outros.
        Durante toda a sua trajetória, o país passou por fatos marcantes, como a invasão do povo Mouro e a <strong>colonização das Américas</strong>. 
        Por este motivo, o que se vê por lá é uma cultura diversificada, <strong>festas populares</strong>, como a Las Farras, a La Tomatina e a San Fermin.
        Sem contar a <strong>gastronomia</strong>, que está entre as melhores dos países estrangeiros. 
        </p>

        <h1>Qual a melhor época para viajar para a Espanha?</h1>
        <p>Fazer um tour pela Espanha é uma delícia em qualquer temporada. Antes de escolher a melhor época, é importante entender um pouco das estações no continente europeu.
        Se você quer fugir do frio, evite viajar na baixa temporada, durante o outono e inverno, por exemplo.
        Isso porque, entre os meses de setembro e março, o clima na Europa é bem gelado, claro, que nada que comprometa a sua viagem, uma vez que o inverno no país também nem é tão rigoroso assim.
        Porém, não é todo mundo que consegue se adaptar às temperaturas mais frias, principalmente os brasileiros que estão acostumados com um clima mais quente.
        Mas se quer calor, agito e muito sol, <strong>a melhor época para conhecer as terras espanholas é no verão</strong>, durante a alta temporada. 
        Neste época, o sol brilha forte por um período maior e muitos estabelecimentos ficam abertos até mais tarde. Claro que se quiser conhecer as praias da Espanha, essa é a escolha perfeita.
        </p>

        <h1>Quanto tempo ficar na Espanha?</h1>
        <p>Essa pergunta é muito relativa. Afinal, o período ideal dependerá da quantidade de cidades e pontos turísticos que pretender conhecer em uma viagem para a Espanha. 
        Se quer conhecer 3 ou 4 cidades, por exemplo, recomendamos que faça uma viagem de, <strong>pelo menos, 15 dias</strong>. Se pretende conhecer 5 cidades ou mais, dê uma esticadinha e fique por cerca de 20 dias.
        Mas se quiser conhecer duas cidades, por exemplo, em uma semana é possível apreciar os principais locais turísticos e fazer um passeio muito bacana.
        </p>

        <h1>O que conhecer na Espanha?</h1>
        <p>Para decidir o que fazer na Espanha, nada melhor do que saber as atrações mais famosas do país. 
        Ao montar o seu roteiro, a capital <strong>Madri</strong> deve ter ser incluída, pois a cidade é toda cosmopolita, agitada e com diversos locais turísticos. 
        Seguindo a mesma linha de Madri, está a bela <strong>Barcelona</strong>, muito badalada e com monumentos de artistas renomados, como Picasso e Gaudí. No verão, nada melhor do que conhecer as lindas praias de Ibiza.
        As cidades de <strong>Segóvia</strong>, <strong>Granada e Valência</strong> devem fazer parte da lista de opções, já que possuem monumentos e edifícios históricos interessantes. Visite ainda as cidades de Sevilha, Málaga, Toledo e Salamanca.
        </p>

        <ol>
            <h1><li>Madrid</li></h1>
            <p>Pensa em uma cidade deslumbrante e muito agitada. Essa é a estonteante Madri, capital da Espanha. Ela mantém o equilíbrio entre o passado e o presente.
            De um lado, monumentos, edifícios, <strong>castelos e museus</strong> que contam a história antiga do país. Do outro, uma capital moderna, agitada e muito alegre. 
            Além da história, Madri é dona de uma arquitetura invejável e suntuosa. Inclusive, por lá, você vai se deparar com muita obras de arte de nomes como Goya e Velázquez
            Ao conhecer a cidade, não deixe de visitar as principais atrações, como a <strong>Plaza Mayor</strong>, o <strong>Palácio Real</strong> de Madri, o Museu do Prado, <strong>Jardins de Retiro de Madri</strong> e muito mais.
            E para te ajudar, temos uma dica de roteiro Madri com várias atrações incríveis para você conhecer.  
            </p>

            <figure>
                <img src="../static/Imagens/Madrid-imagem.png" alt="Imagem de Madrid">
            </figure>

            <h1><li>Barcelona</li></h1>
            <p>Já sabe o que fazer em Barcelona? A cidade tem monumentos de nomes importantes da arquitetura e da arte, como <strong>Antoni Gaudí e Pablo Picasso</strong>, que eternizaram seus nomes em muitas obras. 
            Com arquitetura única, é bom pegar caneta para não perder nenhuma atração. Ao desembarcar em Barcelona, a primeira parada deve ser na <strong>Igreja da Sagrada Família</strong>, projetada por Gaudí. É fascinante! 
            O arquiteto deixou seu nome ainda no excêntrico e inusitado <strong>Parque Güell</strong>, com as suas construções em ladrilho colorido e também as <strong>Casas Milà e Batlló</strong>. 
            Na sua viagem não podem faltar o <strong>Museu de História de Barcelona</strong> e o <strong>Museu de Picasso</strong>. 
            </p>

            <figure>
                <img src="../static/Imagens/Barcelona-imagem.png" alt="Imagem de Barcelona">
            </figure>

            <h1><li>Ibiza</li></h1>
            <p>Você já deve saber que a bela Espanha não vive só de história e arquitetura. Por lá, as <strong>paisagens</strong> encantam turistas e os próprios moradores locais. 
            Exemplo de tanta beleza é a lindíssima e badalada, Ibiza, que pertence às ilhas Baleares, um arquipélago espanhol, localizado no Mar Mediterrâneo. 
            As  <strong>praias são excepcionais</strong> com águas cristalinas, mar azul, areia branquinha e muito agito. Há muitas opções de hotéis e restaurantes. Por isso, nem pense em fazer um bate-volta somente!</p>
            
            <figure>
                <img src="../static/Imagens/Ibiza-imagem.png" alt="Imagem de Ibiza">
            </figure>

            <h1><li>Valência</li></h1>
            <p>Não importa se fará um roteiro na Espanha inverno ou verão. Uma coisa é certa, Valência deve estar no planejamento. A cidade portuária conta com <strong>lindas praias</strong>, como a Playa de la Malvarrosa e a Platja de Llevant.
            Por lá, há diversos pontos turísticos, sendo alguns históricos e outros muito modernos. Na sua lista, adicione atrações como a Catedral de Valência, as <strong>Torres de Serranos e a Praça da Mãe de Deus</strong>.
            Entre os edifícios modernos, conheça o <strong>Museu Hemisfèric</strong> e a Palau de les Arts Reina Sofía, uma contemporânea casa de ópera. 
            </p>
  
            <figure>
                <img src= "../static/Imagens/Valência-imagem.png" alt="Imagem de Valência">
            </figure>

            <h1><li>Sevilha</li></h1>
            <p>Na hora de decidir o que fazer na Espanha, inclua Sevilha, a capital da comunidade autônoma Andaluzia. A cidade é um verdadeiro encanto e as atrações as tornam ainda mais interessantes. 
            Ao visitar Sevilha, conheça a <strong>Catedral de Sevilha</strong> e o Plaza de España. Ah, não deixe de fazer um <strong>passeio de caiaque pelo Rio Guadalquivir</strong> ou uma bela caminhada pela sua orla. 
            Os parques e palácios são um encanto, assim como os vilarejos e museus, que contam a história da cidade. Visite também o Metropol Parasol, que tem um interessante museu, mercado e linda praça.
            Não deixe de experimentar a <strong>culinária local</strong> em seus charmosos bares e restaurantes. 
            </p>

            <figure>
                <img src="../static/Imagens/Sevilha-imagem.png" alt="Imagem de Sevilha">
            </figure>

        </ol>

        <a id="voltar-inicial" href="/galeria_viagens">Voltar para a Página Inicial</a>
        
    </div>
</body>
</html>