<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cidades da Itália: Lista com as 5 cidades mais bonitas do país</title>

    <link rel="stylesheet" href="../static/CSS/destinos.css">

</head>
<body>

    <div class="banner">
        <img  class="bandeira" src="../static/Imagens/Bandeira-Itália.png" alt="Bandeira da Itália">
        <div class="overlay"></div>
        <h1 class="country-name">Itália</h1>
    </div>

    <div>
        <h1>Cidades da Itália: Lista com as 5 cidades mais bonitas do país</h1>
        
        <p>Separamos 7 das principais cidades italianas. Agora você vai descobrir quanto tempo ficar e o que fazer em cada uma delas. Vamos lá?</p>

        <h1>Cidades da Itália: história, arte, arquitetura e belezas naturais</h1>

        <p>De fato, a Itália é um país que desperta paixões, seja pela <strong>gastronomia</strong>, mundialmente conhecida, pela <strong>arte milenar</strong>, pelos diversos <strong>monumentos históricos</strong> ou pelas <strong>belas paisagens</strong>.
        Mas antes de fazer as malas e viajar é importante saber qual a melhor época para visitar o país, não é mesmo? É o que vamos descobrir agora!
        </p>

        <h1>Quando viajar para a Itália?</h1>

        <p>Quem quer curtir o frio do <strong>inverno</strong> italiano e ter a chance de ver a neve deve viajar entre <strong>dezembro e março</strong>. Lembrando que no norte do país chove muito, então é melhor programar passeios em lugares fechados, ok?
        Já os meses entre <strong>abril e junho</strong>, são considerados a <strong>melhor época do ano para visitar a Itália</strong>. As temperaturas ficam mais agradáveis e as cidades ainda mais bonitas.
        Fique atento: o <strong>mês de agosto também tem temperaturas mais agradáveis</strong>, mas é quando o país recebe mais visitantes. Por isso, se puder escolha outra data.
        </p>

        <ol>
            <h1><li>Roma</li></h1>
            <p>Roma é a <strong>capital da Itália</strong> e um dos pontos turísticos mais importantes do país. 
            Lá você vai conhecer lugares incríveis e ainda saborear o melhor da gastronomia regional.
            </p>

            <h1>Quantos dias em Roma?</h1>
            <p>Nada melhor do que começar o nosso tour pelas cidades da Itália, com a capital Roma! Para aproveitar ao máximo cada passeio o ideal é ficar de <strong>5 a 8 dias</strong> no local.
            Mas se quiser ou só puder fazer uma viagem rápida, reserve pelo menos 4 dias. 
            Para organizar sua viagem, a dica é separar da seguinte forma: alguns dias para conhecer os pontos turísticos, outros para fazer passeios culturais e, por fim, outros para fazer compras.
            </p>

            <h1>O que fazer em Roma?</h1>
            <p>Em primeiro lugar, quem está viajando pela cidade não pode deixar de conhecer o <strong>Coliseu</strong>(um dos monumentos mais famosos do mundo e cartão postal da capital), <strong>o Palatino, o Fórum Romano, o Arco de Constantino</strong> e vários outros lugares importantes.
            Entre as praças merecem destaque a Praça do Capitólio e a Praça Navona. Nesta última, você encontra ótimos restaurantes ao redor. Aproveite para almoçar a típica comida italiana.
            Quer conhecer mais pontos turísticos? Então confira esse post com 17 atrações de turismo em Roma para você conhecer na capital.
            </p>

            <figure>
                <img src="../static/Imagens/Roma-imagem.png" alt="Imagem de Roma">
            </figure>

            <h1><li>Milão</li></h1>
            <p>Já pensou em conhecer a <strong>capital mundial da moda</strong>? Que tal fazer compras nas lojas das principais marcas de grife? Isso tudo é possível em Milão, mais precisamente no Quadrilátero da Moda.
            Mas não é só isso: a cidade, que é reconhecida por ser o pólo da moda e do design, também guarda outras surpresas como a <strong>Catedral Milão</strong>, terceira maior igreja do mundo e a <strong>Igreja Santa Maria delle Grazie</strong>, que abriga o quadro da Última Ceia, pintado por Leonardo da Vinci. Incrível, né?
            </p>

            <h1>Quantos dias em Milão?</h1>
            <p>Milão é uma cidade com muitos pontos turísticos, por isso o indicado é ficar no mínimo <strong>3 dias</strong>.
            No entanto, se puder ficar mais aproveite 5 dias na cidade e conheça vários pontos turísticos e restaurantes.
            </p>

            <h1>O que fazer em Milão?</h1>
            <p>Além dos passeios já citados, que tal visitar o Castelo Sforzesco, Galleria Vittorio Emanuele II e a Piazza Duomo?
            Do mesmo modo você também pode visitar a sede do Inter de Milão e do Milan. Passeio imperdível!
            Para os amantes de cultura, a dica é conhecer o interior do <strong>Teatro Scala</strong>(o maior teatro de lírica do mundo). 
            Se não puder assistir a um espetáculo, você pode comprar um bilhete para conhecer o local.
           </p>

           <figure>
                <img src="../static/Imagens/Milão-imagem.png" alt="Imagem de Milão">
           </figure>

           <h1><li>Florença</li></h1>
           <p>O terceiro destino do nosso tour pelas cidades da Itália é Florença. 
            A pequena cidade traz elementos bucólicos, e é considerada como <strong>“terra dos sonhos”</strong>. Vamos conhecer um pouco mais dessa cidade?
           </p>

           <h1>Quantos dias em Florença?</h1>
           <p>Florença é um lugar muito charmoso e com várias atrações para você conhecer. Por isso, o mais indicado é ficar pelo menos <strong>3 dias na cidade</strong>.
            Além disso, não deixe de visitar os museus e galerias de artes, conhecer os restaurantes e as gelaterias.
           </p>

           <h1>O que fazer em Florença?</h1>
           <p>Procurando o que fazer em Florença? Então que tal começar o passeio pela <strong>Galleria Dell’Accademia</strong>?
            É lá que está uma das estátuas mais famosas do mundo: o Davi de Michelangelo. Para visitar, você pode comprar o ingresso clicando aqui.
            Outra galeria que não pode ficar de fora da lista é a Degli Uffizi, uma das mais deslumbrantes da cidade. Ela tem corredores com esculturas gregas e romanas e pinturas do século XVIII. Depois, não deixe de ver as obras de Sandro Botticelli, Caravaggio e Da Vinci.
            Para finalizar o dia, nada melhor que tomar um autêntico gelato nas melhores sorveterias da cidade. O destaque fica para o La Carraia e o Vivoli. Uma delícia!
           </p>

           <figure>
                <img src="../static/Imagens/Florença-imagem.png" alt="Imagem de Florença">
           </figure>

           <h1><li>Veneza</li></h1>
           <p>Agora é a hora de conhecermos Veneza. O lugar não poderia ficar de fora do nosso roteiro pelas cidades da Itália.
            O local é considerado <strong>a cidade do amor e dos canais</strong>, pois está situada sobre 117 ilhas ligadas por pontes. Incrível, né? Vamos começar nosso passeio?
           </p>

           <h1>Quantos dias em Veneza?</h1>
           <p>E para se programar melhor e não deixar de visitar nada, o mais indicado é ficar <strong>3 dias</strong>. Aproveite para fazer os passeios de barcos pelos vários canais da cidade.
            Além de passear pelos canais, becos e ruelas de Veneza, que tal conhecer alguns pontos turísticos?
           </p>

           <h1>O que fazer em Veneza?</h1>
           <p>A Praça São Marcos é uma das mais bonitas da cidade e é lá onde fica a Basílica de mesmo nome, que foi construída no século IX. As cúpulas e paredes são cobertas por mosaicos de ouro. Por isso, não deixe de visitar!
            Por fim, outro ponto imperdível é o Palazzo Ducale, que impressiona pelo tamanho e arquitetura gótica oveneziana e a Libreria Acqua Alta, cujo interior intimista lotado de livros cria um ar bucólico e romântico.
           </p>

           <figure>
                <img src="../static/Imagens/Veneza-imagem.png" alt="Imagem de Veneza">
           </figure>

           <h1><li>Bolonha</li></h1>
           <p>A princípio, Bolonha é considerada o ponto de partida para quem deseja conhecer o norte da Itália.
            Lá além dos pontos turísticos você poderá conhecer a <strong>Universidade de Bolonha</strong>. 
            Fundada em 1088, ela é a mais antiga da Europa! Imperdível, né? Vamos começar nosso passeio?
           </p>

           <h1>Quantos dias em Bolonha?</h1>
           <p>Por ser uma cidade pequena você pode fazer um bate volta ou ficar apenas um dia na cidade.
            No entanto, se tiver oportunidade reserve pelo menos </strong>2 dias</strong> para conhecer cada cantinho com calma.
           </p>

           <h1>O que fazer em Bolonha?</h1>
           <p>Sobretudo, Bolonha é conhecida pelos italianos como a gorda, a culta e a vermelha.
            A gorda por ser um dos principais destinos gastronômicos da Itália. É de lá que vem o famoso espaguete à bolonhesa, conhecido como <strong>Tagliatelle Al Ragú</strong>.
            Mas fique atento, por ser um prato muito comercial ele só é encontrado em restaurantes ‘pega turista’. Dê chance para outros pratos e aproveite para conhecer o Mercado de Bolonha e o Eataly.
            Já a fama de culta, vem por sediar a universidade mais antiga do continente. Além disso a cidade é cheia de pontos turísticos históricos como a Fonte de Netuno.
            O último apelido (vermelha) se deve à sua aparência. As fachadas da cidade são de tons avermelhados. Um charme!
           </p>

           <figure>
                <img src="../static/Imagens/Bolonha-imagem.png" alt="Imagem de Bolonha">
           </figure>

        </ol>

        <a id="voltar-inicial" href="/galeria_viagens">Voltar para a Página Inicial</a>
        
    </div>
</body>
</html>