<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfólio Profissional</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" href="../static/img/foto-icon.png" type="image/png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

</head>
<body>

    <i class="bi bi-list menu-mobile"></i>

    <aside id="header">
        <section class="profile">
            <img src="../static/img/foto-sobre-mim.png" alt="Foto do Kaio">
            <h1>Kaio Abreu</h1>
            <div class="social-links mt-4 text-center">
                <a href="http://github.com/Misthermilho62" target="_blank" alt="Logo do Github">
                    <i class="bi bi-github"></i>
                </a>
                <a href="http:///www.linkedin.com/in/kaio-freires-de-abreu-465974249/" target="_blank" alt="Logo do Linkedin">
                    <i class="bi bi-linkedin"></i>
                </a>
                <a href="http://discord.com/channels/@me" target="_blank" alt="Logo do Discord">
                    <i class="bi bi-discord"></i>
                </a>
            </div>
        </section>

        <section>

            <nav id="navbar" class="nav-menu active">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#inicio"><i class="bi bi-house" aria-hidden="true">
                            </i> Inicio
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#sobre"><i class="bi bi-person" aria-hidden="true">
                            </i> Sobre
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#habilidades"><i class="bi bi-list-check" aria-hidden="true">
                            </i> Habilidades
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#curriculo"><i class="bi bi-file-earmark" aria-hidden="true">
                            </i> Currículo
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#portfolio"><i class="bi bi-collection" aria-hidden="true">
                            </i> Portfólio
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contato"><i class="bi bi-envelope" aria-hidden="true">
                            </i> Contato
                        </a>
                    </li>
                  </ul>
            </nav>

        </section>
    </aside>

    <main id="main">

    <div class="container">
       <section id="inicio" class="row m-0 p-0">
            <div class="col-md-5 d-flex justify-content-center align-items-center flex-column">
                <h2 class="text-white text-shadow">Kaio Abreu</h2>
                <span id="subtitle" class="text-white text-shadow">Estudante de Análise e Desenvolvimento de Sistemas</span>
            </div>

            <div class="col-md-7 d-flex justify-content-end align-items-end">
                <div id="arraste" class="d-flex align-items-center">
                    <i class="bi bi-arrow-down text-white pe-2 fs-2" aria-hidden="true"></i>
                    <a href="#sobre">Arraste para mais</a>
                </div>
            </div>
       </section>
    </div>

       <section class="container mt-5 p-4" id="sobre">
            <div class="row w-100">
                <div class="col md-12" data-anime="down">
                    <h2 class="pt-3">Sobre</h2>
                    <p>"Eu sou um amante e entusiasta da tecnologia desde muito jovem. Minha primeira experiência com um computador ocorreu em 2006, quando eu tinha apenas 6 anos. 
                        Naquela época, meu acesso à tecnologia era através de um PC de tubo, e minha principal motivação era jogar jogos online em sites como ClickJogos, Friv e Miniclip. 
                        Lembro-me de utilizar o Windows 7 e ficava fascinado pela vasta gama de jogos disponíveis na internet.
                        No entanto, nem sempre a minha conexão à internet era estável, e muitas vezes enfrentava problemas de lentidão ou até mesmo falta de conexão. 
                        Nessas situações, eu não desistia da diversão. Ao invés disso, eu explorava os jogos clássicos que estavam disponíveis diretamente na máquina, como o Paciência Spider, Campo Minado e Pinball. 
                        Eram esses pequenos jogos que me mantinham entretido durante os momentos de frustração com a conexão.
                        Além dos jogos online, também me aventurei em jogos que instalava através de DVDs. Lembro-me de passar horas construindo cidades no The Sims 2, cuidando de zoológicos em Zoo Tycoon e comandando impérios em Age of Empires 2. 
                        Essa experiência me introduziu ao mundo dos jogos de estratégia e simulação, o que, de certa forma, moldou minha paixão por tecnologia e jogos ao longo dos anos.
                        Hoje, minha afinidade com a tecnologia só cresceu, e continuo explorando as últimas inovações e tendências no mundo digital. Esses primeiros passos que dei no universo da tecnologia moldaram minha jornada e meu amor pela área, e mal posso esperar para ver o que o futuro reserva para mim neste emocionante campo."
                    </p>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-md-4 pt-4">
                    <img class="img-fluid shadow" src="../static/img/foto-sobre-mim.png" alt="Foto do Kaio" data-anime="left">
                </div>
                <div class="col-md-8 pt-4" data-anime="right">
                    <p>Atualmente estou cursando o 3º Semestre de Análise e Desenvolvimento de Sistemas na Fatec São Caetano do Sul.
                       Gosto sempre de contar como cheguei na Fatec. Primeiramente, vou falar sobre antes quando ainda estava no Ensino Médio.
                       Sempre estudei em escola pública, no meu último ano do Ensino Médio, tive muita dificuldade de estudar em casa depois de um certo tempo.
                       O motivo era porque me via obrigado a ser de casa para trabalhar, mandei currículo para vários lugares, mas sem experiência não obtive êxito.
                       Nesse tempo de pandemia, acabei ficando com muita ansiedade e desmotivado. Para tenter melhorar fui passar no psicológo. Nossa o efeito de poder desabafar sentimentos com uma pessoa é gratificante.
                       Ainda assim, consegui fazer dois cursos gratuitos oferecidos pelo Centro Paula Souza, um de Rotinas de Recursos Humanos e o outro de Computação em Nuvem da Google Cloud Computer, 
                       este último me fez despertar bastante interesse em seguir uma carreira em TI.
                       Também nessa época passei na Fatec no Curso de Administração, pelo meu histórico escolar do 2º Ensino Médio, referente as notas de Matemática e Português.
                       infelizmente não me encontrei nessa área, devido a dificuldade que tem para conseguir emprego, também não gostei do sistema que eles me disponibilizaram para estudar por lá.
                       Finalmente, voltando ao assunto inicial, prestei uma nova prova para o curso que estou atualmente na Fatec, no meu do ano de 2022. Quando saiu os resultados me desanimei, 
                       conferi meu nome e não tinha passado na primeira lista. Depois, de ter passado um mês que começou as aulas na Fatec, ligaram na sexta-feira me avisando que tinha passado na 2º lista.
                       E que mesmo com o atraso daria para me manter, então na semana seguinte, na segunda-feira tive minha primeira aula de programação até naquele momento. Fiquei espantado e aterrorizado pensando que aquilo é de outro mundo.
                       Ainda bem, que com ajuda dos representantes, eles me disponibizaram todo o conteúdo que haviam tido para mim. Com muito esforço e dedicação, consegui passar em todas as matérias desse 1º Semestre, 
                       mesmo que em algumas fiquei com nota baixa na Primeira Avaliação, recuperei na Terceira e última Avaliação.
                    </p>

                    <div class="row">
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush fs-5">
                                <li class="list-group-item">
                                    Aniversário: <span class="fw-lighter">
                                        27 de Março de 2003</span>
                                </li>
                                <li class="list-group-item">
                                    Idade: <span class="fw-lighter">
                                        20 anos</span>
                                </li>
                                <li class="list-group-item">
                                    Cidade: <span class="fw-lighter">
                                        São Paulo</span>
                                </li>
                                <li class="list-group-item">
                                    Estado: <span class="fw-lighter">
                                        SP</span>
                                </li>

                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush fs-5">
                                <li class="list-group-item">
                                    Hobby: <span class="fw-lighter">
                                        Assistir filmes e Séries</span>
                                </li>
                                <li class="list-group-item">
                                    Nível de Escolaridade: <span class="fw-lighter">
                                        Estudante de Ensino Superior</span>
                                </li>
                                <li class="list-group-item">
                                    Ponto Positivo: <span class="fw-lighter">
                                        Esforçado</span>
                                </li>
                                <li class="list-group-item">
                                    Ponto Negativo: <span class="fw-lighter"> 
                                        Ansiedade</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
       </section>

       <section class="mt-5 section-bg p-4" id="habilidades">

            <div class="container pb-5">
                <h2 class="pt-5">Habilidades</h2>
                <p>Em todo esse tempo como estudante de Análise e Desenvolvimento de Sistemas adquiri algumas habilidades técnicas e não técnicas,
                   a maioria delas estão aqui, de acordo com a porcentagem de conhecimento que eu acredito ter em cada uma delas.
                </p>

                <div class="row">
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">HTML</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" data-anime="left" style="width: 20%">20%</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">CSS</p>
                        <div class="progress" data-anime="left" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 20%">20%</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">JAVASCRIPT</p>
                        <div class="progress" data-anime="left" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 5%">5%</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">JAVA</p>
                        <div class="progress" data-anime="left" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 10%">10%</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">C</p>
                        <div class="progress" data-anime="left" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 30%">30%</div>
                        </div>
                    </div>
                </div>

                <hr class="w-50 me-auto ms-auto">

                <div class="row">
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">COMPROMETIMENTO</p>
                        <div class="progress" data-anime="left" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 90%">90%</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">EMPATIA</p>
                        <div class="progress" data-anime="left" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 85%">85%</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">COMUNICAÇÃO</p>
                        <div class="progress" data-anime="left" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 65%">65%</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">TRABALHO EM EQUIPE</p>
                        <div class="progress" data-anime="left" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 85%">85%</div>
                        </div>
                    </div>

                </div>

            </div>

       </section>

       <section class="mt-3 cv p-4" id="curriculo">
            <div class="container pb-5">
                <h2 class="pt-2 pb-4 cv-title">Currículo</h2>
                
                <div class="row">
                    <div class="container_port" class="col-md-6">
                        <h3 class="cv-title">Educação</h3> 

                        <div class="cv-item" data-anime="up">
                            <h4>Ensino Médio Completo</h4>
                            <h5>2018-2020</h5>
                            <p><em>Escola Estadual Padre Alexandre Grigolli</em></p>
                            <p> Concluí o Ensino Médio em dezembro de 2020 na Escola Estadual Padre Alexandre Grigolli. 
                                Durante esse período, tive o privilégio de obter notas excelentes em disciplinas de exatas, incluindo Matemática, Física, Química e Biologia durante o 1º e 2º ano do Ensino Médio. 
                                Além disso, durante o 2º ano, a escola promoveu uma campanha que reconheceu os melhores alunos de cada semestre, e fiquei honrado por ser premiado duas vezes como o melhor aluno da minha turma, 
                                o que é atestado por certificados que comprovam esse feito.
                            </p>
                        </div>
                        <div class="cv-item" data-anime="up">
                            <h4>Curso de Espanhol</h4>
                            <h5>2015-2018</h5>
                            <p><em>Centro de Estudos de Línguas da Escola Estadual Alexandre de Gusmão</em></p>
                            <p> Em 2018, concluí um curso de Espanhol que abrangeu seis semestres na Escola Estadual Alexandre de Gusmão, uma escola pública. Minha intenção era dar continuidade ao aprendizado de línguas com um curso de Inglês, mas infelizmente, devido à falta de incentivo do governo, esse projeto não teve continuidade.</p>
                        </div>
                        <div class="cv-item" data-anime="up">
                            <h4>Curso de Recursos Humanos</h4>
                            <h5>2020</h5>
                            <p><em>Programa Novotec Virtual do Centro Paula Souza</em></p>
                            <p> Em 6 meses do ano de 2020, conclui um curso de Rotinas de Recursos Humanos, onde obtive um pouco de conhecimento sobre normas e processos trabalhistas.
                                Entre elas, como é feito o processo de Recrutamento e Seleção de candidatos aptos a participar do processo seletivo, como fazer o contrato de Admissão de novos contratados,
                                como fazer uma gestão eficiente na base do respeito e na liberdade de opinião dos colaboradores no ambiente de trabalho, como deixar os colaboradores motivados fazendo campanhas de participação nos lucros da empresa,
                                como fazer um holerite, recibo de férias e o processo de demissão de um colaborador quer seja por justa causa ou sem justa causa.
                            </p>
                        </div>
                    </div>
                    <div class="container_port" class="col-md-6">
                        <h3 class="cv-title">Profissional</h3>

                        <div class="cv-item" data-anime="up">
                            <p>Neste momento, embora eu ainda não tenha tido a oportunidade de ingressar no mercado de trabalho, estou dedicando meu tempo e esforço para aprimorar constantemente meus conhecimentos na área de Tecnologia da Informação (TI). 
                                Minha paixão por TI e meu desejo de crescer profissionalmente me motivam a buscar conhecimento de várias formas.
                                Minha jornada em direção a uma carreira em TI começou com minha formação educacional.  Atualmente, estou matriculado no curso de Análise e Desenvolvimento de Sistemas na Fatec, onde tenho a oportunidade de aprender com professores experientes e colegas entusiastas da tecnologia. Além disso, estou constantemente explorando recursos gratuitos disponíveis na internet e investindo em cursos específicos de linguagens de programação que me interessam.
                                Embora minha experiência profissional formal seja limitada neste momento, minha busca contínua por conhecimento e minha dedicação à área de TI demonstram meu comprometimento em me tornar um profissional qualificado e contribuir positivamente para qualquer equipe ou projeto no futuro. 
                                Estou ansioso para as oportunidades que surgirão à medida que minha jornada profissional avançar.
                            </p>

                        </div>

                    </div>
                </div>
            </div>
       </section>

       <section id="portfolio" class="section-bg mt-5  p-4">
            <div class="container pb-5 pt-5" data-anime="left">
                <h2 class="pb-4">Portfólio</h2>
                <div id="carouselPortfolio" class="carousel carousel-dark slide">
                    <div class="carousel-indicators">
                    </div>
                    <div class="carousel-inner">
                      <div class="carousel-item active" data-bs-interval="10000">
                        <div class="row row-cols-1 row-cols-md-2 g-4">
                            <div class="col">
                              <div class="card w-100 h-100">
                                <img src="../static/img/imagem-primeirapagina.png" class="card-img-top" alt="Imagem da Minha Primeira Página criada">
                                <div class="card-body">
                                  <h5 class="card-title">Primeira Página feita em HTML5</h5>
                                  <p class="card-text">Minha primeira aventura no mundo do Desenvolvimento Web, aqui utilizei fundamentos básicos de HTML e CSS.
                                    Como Títulos, Subtítulos, Parágrafos, Quebra de linhas, Imagens, Legendas e Link.
                                  </p>
                                    <div class="d-flex justify-content-center">
                                        <a href="/primeirapagina" 
                                            target="_blank"  
                                                class="btn btn-outline-primary"><i class="bi 
                                                bi-link-45deg"></i>Primeira Página</a>
                                    </div>
                                </div>
                              </div>
                            </div>
                            <div class="col">
                              <div class="card w-100 h-100">
                                <img src="../static/img/imagem-pagina-inicial-destinos.png" class="card-img-top" alt="Imagem de Página Inicial criada de destinos">
                                <div class="card-body">
                                  <h5 class="card-title">Página Inicial de destinos</h5>
                                  <p class="card-text">Aqui foi minha segunda página criada. Utilizei fundamentos novos como Navegação de Páginas, Ancoragem de Links, 
                                    Lista Ordenada e um Formulário de Contato.
                                  </p>
                                  <div class="d-flex justify-content-center">
                                    <a href="/inicio_dest" 
                                        target="_blank" 
                                            class="btn btn-outline-primary"><i class="bi 
                                            bi-link-45deg"></i>Página Inicial de Navegação</a>
                                 </div>
                                </div>
                              </div>
                            </div>
                            <div class="col">
                              <div class="card w-100 h-100">
                                <img src="../static/img/imagem-tabela-destinos.png" class="card-img-top" alt="Imagem de uma Tabela de Destinos">
                                <div class="card-body">
                                  <h5 class="card-title">Tabela para Destinos</h5>
                                  <p class="card-text">Aqui simplesmente juntei o conteúdo das páginas de navegação e criei uma tabela referente aos destinos que coloquei.
                                    Foi minha primeira experiência utilizando Tabelas em HTML e CSS.
                                  </p>
                                  <div class="d-flex justify-content-center">
                                    <a href="/destinos" 
                                        target="_blank" 
                                            class="btn btn-outline-primary"><i class="bi 
                                            bi-link-45deg"></i>Tabela para Página de Destinos</a>
                                 </div>
                                </div>
                              </div>
                            </div>
                            <div class="col">
                                <div class="card w-100 h-100">
                                  <img src="../static/img/imagem-galeria-destinos.png" class="card-img-top" alt="...">
                                  <div class="card-body">
                                    <h5 class="card-title">Página Galeria de Viagens</h5>
                                    <p class="card-text">Até o momento, essa minha página foi a mais gratificante para mim, nela fiz um Site de Galeria de Viagens, 
                                        onde coloquei informações relevantes sobre lugares que achei interresante.
                                        Pela primeira vez, pude utilizar Banner com Ancoragem de Navegação na Página Inicial , Grid de Imagens com Links para Navegar em outras páginas específicas, 
                                        Border Radius para deixar as imagens das pessoas fictícias arredondadas, 
                                        Logos de Redes Socias com links para páginas que não existem e por fim, um Formulário para entrar em Contato com o Administrador.
                                    </p>
                                    <div class="d-flex justify-content-center">
                                        <a href="/galeria_viagens" 
                                            target="_blank" 
                                                class="btn btn-outline-primary"><i class="bi 
                                                bi-link-45deg"></i>Página Galeria de Viagens</a>
                                     </div>
                                  </div>
                                </div>
                              </div>
                          </div>
                      </div>
                    </div>
                      <div class="carousel-item" data-bs-interval="2000">
                       
                      </div>
                     
                    </div>
                  </div>
            </div>
       </section>

       <section class="pt-5 pb-5 p-4" id="contato">

            <div class="container mb-5 p-4">

                <h2 class="pt-2 pb-3">Contato</h2>

                <div class="row">
                    <div class="col-md-5">
                        <div class="card p-5 shadow border-0" data-anime="up">
                            <div class="endereco">
                                <h4><i class="bi bi-geo-alt"></i> Localização:</h4>
                                <p>São Paulo, SP</p>
                            </div>
                            <div class="email">
                                <h4><i class="bi bi-envelope"></i> Email:</h4>
                                <p>kaio.freires.abreu@gmail.com</p>
                            </div>

                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3655.1426287532463!2d-46.59220042509446!3d-23.635062628749232!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce5ca68a9c3cf5%3A0x4a85af0ddc10afaa!2sVila%20Arapua%2C%20S%C3%A3o%20Paulo%20-%20SP%2C%2009581-680!5e0!3m2!1spt-BR!2sbr!4v1695612353268!5m2!1spt-BR!2sbr" 
                                width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="w-100">
                            </iframe>

                        </div>
                    </div>

                    <div class="col-md-7 mt-5 mt-md-0">
                        <div class="card p-5 h-100 shadow border-0" data-anime="left">

                            <form class="row g-3" action='/send' method="POST">
                                <div class="col-md-6">
                                  <label for="nome" class="form-label">Nome:</label>
                                  <input type="text" class="form-control" id="nome"
                                         name='nome' placeholder='Digite seu Nome' required>
                                </div>
                                <div class="col-md-6">
                                  <label for="email" class="form-label">Email:</label>
                                  <input type="email" class="form-control" id="email"
                                         name='email' placeholder="Digite seu E-mail" required>
                                </div>
            
                                <div class="col-12">
                                  <label for="mensagem" class="form-label">Mensagem:</label>
                                    <textarea type="text" class="form-control" id="mensagem" 
                                        name='mensagem' rows="10" placeholder='Digite sua mensagem' required>
                                    </textarea>
                                </div>
                                
                                <div class="col-12 d-flex justify-content-center mt-5">
                                  <button id='btn-enviar' type="submit" class="btn btn-primary">Enviar 
                                    Mensagem</button>

                                    <button id='btn-enviar-loader' class="btn btn-primary" type="button" disabled>
                                        <span class="spinner-border spinner-border-sm" role="status"
                                            aria-hidden="true"></span>
                                        Enviando...
                                    </button>
                                </div>
                              </form>

                        </div>
                    </div>
                </div>
            </div>
       </section>

       <!-- Mensagem de alerta de sucesso -->
       {% with messages = get_flashed_messages() %}
       {% if messages %}
       {% for message in messages %}
       <div id="alerta" class="alert alert-success alert-dismissible fade show" role="alert">
           <i class="bi bi-check-circle-fill"></i> {{ message }}
           <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
       </div>
       {% endfor %}
       {% endif %}
       {% endwith %}

    </main>

    <footer id="footer">
        <div class="container">
            <div class="text-center">
                &copy; Copyright <strong>Thi Code</strong>
            </div>
        </div>
    </footer>
    
    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>
</body>
</html>